# utils
alias ll='ls -rtl --color'
alias cls='clear'
alias la='ls -A'
alias l='ls -CF'
alias ls='ls --color=auto'
alias rm='rm -iv --preserve-root'
alias chmod='chmod -v --preserve-root'
alias chown='chown -v --preserve-root'
alias min5='find . -type f -mmin -5 -ls'
alias fgrep='fgrep --color=auto'
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias rgrep='find . -type f|xarg grep -win'

# disk
alias disque='lsblk  -f -o NAME,FSSIZE,FSTYPE,LABEL,FSAVAIL,FSUSE%,MOUNTPOINT'
alias df='df -hT devtmpfs -x tmpfs'
alias umount='umount -flv'

# misc
alias notes='echo $(date +%A, \ %d\ %B\ \(%f\)\ )$* >> ~/.notes'
alias cn='cat ~/.notes'
alias en='vim +$ ~/.notes'
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

# python
alias py='python3'
alias py2='python2.7'
alias vola='vol.py'

# admin
alias LU="awk -F: '{ print $1}' /etc/passwd"
